<!DOCTYPE html>
<html lang="en">

<head>
   <meta charset="UTF-8">
   <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <title>Home</title>
</head>

<body>
   <header>
      <h1>Step1 -Let's query the DNS server.</h1>
      <p> Note: Packet capture requires software such as Npcap. Capturing packets may take some time. Since all UDP port
         53 packets sent by your PC are being captured, packets unrelated to this test page may also be displayed.</p>
      <a href="https://gamingblogbws.com/" target="_blank" onclick=fetchDnsData()>Access to
         the test page</a>
      <div id="dns-results"></div> <!-- 結果をここに表示 -->

      <!-- スクリプト -->
      <script>
         function fetchDnsData() {
            fetch('/dns_capture')
               .then(response => response.json())
               .then(data => {
                  const resultsDiv = document.getElementById('dns-results');
                  let html = '<table border="1"><tr><th>Number</th><th>Result</th></tr>';
                  data.forEach(dns_data => {
                     html += `<tr><td>${dns_data.number}</td><td>${dns_data.result}</td></tr>`;
                  });
                  html += '</table>';
                  resultsDiv.innerHTML = html;
               })

            const button = document.getElementById('Go2');
            button.style.display = 'block'; // ボタンを表示
         }
      </script>

      <!-- スクリプト -->

      <form action="/Step2" method="GET">
         <button type="submit" id="Go2" style="display: none;">Go to next Step</button>
      </form>
   </header>
</body>

</html>